#### PROJECT THEME: DATA-DRIVEN CRIME ANALYTICS IN SOUTH AFRICA

### Source of dataset

### links to dataset :

In [15]:
url = "https://livemutac-my.sharepoint.com/:x:/g/personal/22442801_live_mut_ac_za/EX-y0swKGPNNtwGnWz0c4WoBGpYXrpe-JM_gicvdZeY8zg?e=FZj4l"

In [16]:
url = "https://livemutac-my.sharepoint.com/:x:/g/personal/22442801_live_mut_ac_za/EX-y0swKGPNNtwGnWz0c4WoBGpYXrpe-JM_gicvdZeY8zg?e=1ewYt0"

### Loading CSV file

In [66]:
import pandas as pd

population = pd.read_csv(r"C:\Users\22442801\Downloads\Literacy Rate inflation GDP in Bangladesh Dataset - RAW.csv")
crime = pd.read_csv(r"C:\Users\22442801\Downloads\crime_incidents_by_category.csv")

### Cleaning the CSV

In [30]:
population.head(3)

,Year,Literacy Rate(%),Population,Population growth rate (%),Migrant Population (Estimated),Net Migration Rate,Growth Rate,Inflation Rate (%),Annual Change (%),GNI (Billion USD),...,Military Size,Annual % Change\r,Suicide Rate,Suicide Rate - Male,Suicide Rate - Female,Education Spending (% of GDP),Annual Change.9,Arable Land -Hectares,Per Capita,Percent
0,1980.0,26.0,"83,929,765",2.47%,"720,000",-2.569,-8.38%,0.82,-0.82,18.48,...,NaN,NaN,NaN,NaN,NaN,5.26%,1.37%,"9,121,000",11.00%,70.07%
1,1981.0,27.0,"86,154,836",2.65%,"730,000",-2.333,-9.19%,7.23,6.41,21.50,...,NaN,NaN,NaN,NaN,NaN,6.63%,1.37%,"9,109,000",11.00%,69.98%
2,1982.0,27.8,"88,555,336",2.79%,"740,000",-2.098,-10.07%,2.13,-5.1,20.91,...,NaN,NaN,NaN,NaN,NaN,6.39%,-0.24%,"9,104,000",10.00%,69.94%

In [99]:
 import pandas as pd

population = pd.read_csv(r"C:\Users\22442801\Downloads\Literacy Rate inflation GDP in Bangladesh Dataset - RAW.csv")
population.columns = population.columns.str.strip()

# Drop columns safely
columns_to_drop = ['Annual Change (%)', 'Suicide Rate - Male', 'Suicide Rate - Female', 'Arable Land -Hectares', 'Suicide Rate']
population.drop(columns=columns_to_drop, errors='ignore', inplace=True)

# Rename columns if needed
population.rename(columns={'Year': 'Financial Year'}, inplace=True)

# Check
print(population.head(3))

   Financial Year  Literacy Rate(%)  Population Population growth rate (%)  \
0          1980.0              26.0  83,929,765                      2.47%
1          1981.0              27.0  86,154,836                      2.65%
2          1982.0              27.8  88,555,336                      2.79%

  Migrant Population (Estimated)  Net Migration Rate Growth Rate  \
0                        720,000              -2.569      -8.38%
1                        730,000              -2.333      -9.19%
2                        740,000              -2.098     -10.07%

  Inflation Rate (%)  GNI (Billion USD) Growth Rate (%)  ...  \
0               0.82              18.48            1.17  ...
1               7.23              21.50            9.28  ...
2               2.13              20.91            2.11  ...

  Electricity Access % of Population Annual Change.8  \
0                                NaN             NaN
1                                NaN             NaN
2                                NaN             NaN

  Military Spending/Defense Budget % of GDP.4 Military Size Annual % Change  \
0                           $0.17B      0.86%           NaN             NaN
1                           $0.17B      0.92%           NaN             NaN
2                           $0.18B      1.06%           NaN             NaN

  Education Spending (% of GDP) Annual Change.9 Per Capita Percent
0                         5.26%           1.37%     11.00%  70.07%
1                         6.63%           1.37%     11.00%  69.98%
2                         6.39%          -0.24%     10.00%  69.94%

[3 rows x 113 columns]

### crime

In [101]:
import pandas as pd
crime = pd.read_csv(r"C:\Users\22442801\Downloads\crime_incidents_by_category.csv")
crime.head(3)
columns_to_drop = ['Count']
population.drop(columns=columns_to_drop, errors='ignore', inplace=True)

In [46]:
crime.head(3)

  Location  Crime Category       Year   Count
0       ZA  Contact Crimes  2011/2012  615935
1       ZA  Contact Crimes  2012/2013  608724
2       ZA  Contact Crimes  2013/2014  611574

### Merging my tables

combining the population table and the crime table

df_merged = pd.merge(population, crime , on='Financial Year', how='outer')
df_merged.head(3)

Can't merge my tables becauuse the Financial Year does not want to be renamed

### Visualization

import matplotlib.pyplot as plt

staff_cols = ["Crime Category", "Year" , "Location"]

staff_summary = final_data.groupby("Year")[staff_cols].sum()

staff_summary.plot(kind="bar", figsize=(8,4), stacked=True)
plt.title("Healthcare Staff Distribution per Location")
plt.ylabel("Population Growth Rate")
plt.xlabel("Year")
plt.xticks(rotation=45)
plt.show()

Cannot visualize since my tables are already not merged due to the "Financial Year",issue that I cant get through and it is preventing me from going further

### Heatmap

import seaborn as sns

corr_cols = ["Year" , "Crime Category]

corr_matrix = final_data[corr_cols].apply(pd.to_numeric, errors="coerce").corr()

plt.figure(figsize=(9,5))
sns.heatmap("Population_growth_rate")
plt.show()